@tailwind base;

html {
  @apply font-sans antialiased text-gray-800;

  font-size: 15px;
}

html,
body {
  @apply h-full;
}

#app {
  @apply h-full;
}

@tailwind components;

.proto-box {
  @apply p-2 font-medium text-xs border-2 border-fuchsia-500 rounded-lg;

  @at-root pre#{&}, & pre {
    @apply text-gray-800 bg-gray-100;
  }

  button {
    @apply px-2 py-1 bg-gray-300;
  }
}

@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px #0008;
}

.bg-none {
  background: none;
}

.top-full {
  top: 100%;
}

.prepend-zws::before {
  content: '\200B';
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;

  &:horizontal {
    height: 6px;
  }
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
  border-radius: 6px;

  &:horizontal {
    height: 6px;
  }
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
  display: none;
}
